{{ define "main" }}

<div class="hero-banner d-flex align-items-center">
    <div class="container text-center">
        <h1 class="text-white">{{ .Title }}</h1>
    </div>
  </div>

 <!--================Blog Area =================-->
 <section class="blog_area single-post-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ with .Params.mainImage }}{{ . | relURL }}{{ end }}" alt="{{.Title}} image" />
                    </div>

                    <div class="blog_details">
                        <ul class="blog-info-link mt-3 mb-4 list-unstyled">
                            {{ range $taxonomyname := .Params.categories }}
                            <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">#{{ $taxonomyname }}</a></li>
                            {{ end }}
                        </ul>
                  
                        {{ .Content }}

                    </div>
                </div>
            </div>

            {{- partial "side-widgets.html" . -}}

        </div>
    </div>
 </section>

{{ end }}

{{ define "scripts"}}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"6b9d9b615728969349fb6e8d8","lid":"02deb5fbf4","uniqueMethods":true}) })</script>  <!-- Bootstrap core JavaScript -->
{{ end }}