<hr />
<section class="text-gray-600 body-font bg-white dark:bg-gray-900">

    <div class="container px-5 py-24 mx-auto flex flex-col">
        <div class="text-center px-3 pb-5 lg:px-0">
            <h2 class="my-4 text-2xl md:text-3xl lg:text-5xl  dark:text-white leading-tight">
                Author of Branding For Profit
            </h2>
        </div>


        <div class="lg:w-4/6 mx-auto">
            <div class="rounded-lg overflow-hidden">
                <a href="https://www.brandingforprofitbook.com">
                    <img alt="content" class="object-cover object-center h-full w-full" src="/img/pages/branding-for-profit-banner.png" />
                </a>
            </div>
            <div class="flex flex-col sm:flex-row mt-10">
                <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                    <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center text-center justify-center">
                        <h2 class="font-medium title-font mt-4 dark:text-gray-400 text-lg">Lisa Duffin</h2>
                        <div class="w-12 h-1 bg-yellow-400 rounded mt-2 mb-4"></div>
                        <p class="text-base">
                            It’s simply the best guide to branding for early-stage entrepreneurs.
                        </p>
                    </div>
                </div>
                <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">

                    <p class="leading-relaxed mb-4 font-light lg:text-xl text-gray-500 dark:text-gray-400">
                        EVERY SUCCESSFUL, WELL-KNOWN BRAND IS USING THESE MIND-BLOWING TACTICS. Many people think that the brands we know and love have succeeded by delivering high-quality service and great products. Although this may be true, other powerful factors are at play and are the real driving force behind their success. These factors remain mysteriously unknown to the general public. They are like secret, magic tricks that have a potent effect on the unsuspecting customer. Yet big companies have been knowingly using these spellbinding tactics for many years. Employing these methods has allowed them to gain a large market share and command extraordinary profits. All while their competition fights over the scraps. If you want to create a brand that can thrive in this highly competitive market, it is time to arm yourself with these same weapons of influence. READ THIS BOOK NOW TO START GAINING YOUR EDGE!
                    </p>
                    <a class="text-yellow-400 inline-flex items-center" href="https://www.brandingforprofitbook.com">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />