{{ define "main" }}
<div class="about-header">
    <div class="overlay">
        <div class="container">
            <div class="header-content">
                <h1 class="intro-heading text-uppercase">Andre Barrett</h1>
                <p class="about-descr p-heading">entrepreneur, investor, business coach</p>
            </div>
        </div>
    </div>
</div>


  <!-- start section about us -->
  <div class="about-section paddsection">

    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-5">About Andre Barrett</h2>
        </div>
      </div>
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="/img/about/andrebarrett.jpg" class="img-responsive" alt="Andre Barrett Picture">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">I'm a digital product expert who loves bringing software projects to life. I work with other entrepreneurs who share the same kind of passion for starting and scaling a business.</p>
            <p class="separator">Entrepreneur, Investor and Digital Product expert with a great deal of experience in bringing technology products to market.
<p>
    A widely experienced company Director with hands on knowledge of managing companies in both startup and high growth situations. Works with companies to provide strategy for marketing, operations and growth.
</p>
               <p>
                Skilled in Negotiation, Business Planning, Entrepreneurship, Marketing and Corporate Strategy. He has held senior management positions in a variety of industries including software engineering, media, fitness, property maintenance and development and investment.
               </p> 
                <p>
                    Now using his business expertise in the private equity industry for company acquisitions and property developments.
                </p>
                <p>
                    Specialties: Private equity, private real estate, venture capital, hedge funds, retail investment distribution, alternative investment vehicles, institutional asset management, portfolio selection, fundraising, market positioning and other strategic analysis
                </p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->

  <section class="page-section about-parallax" data-stellar-background-ratio="0.5" style="background-position: 0% -58.5px;">
    <div class="overlay">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-white pt-5 pb-5">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInDown;">Details are the key for perfection</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: bounceInUp;">We mix all detailed things together</p>
          </div>
        </div>
      </div>
    </div>
</div>

  </section>

  <section class="contact-section area-padding">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Contact Me</h2>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            You can get in touch with Andre Barrett using the form 
          </div>
        </div>

        <div class="col-lg-8">
          <iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/51T0/la5" width="100%"></iframe>

          <script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>
        </div>



      </div>
    </div>
  </section>
{{ end }}