{{ define "main" }}
<div class="about-header">
    <div class="overlay">
        <div class="container">
            <div class="header-content">
                <h1 class="intro-heading text-uppercase">Andre Barrett</h1>
                <p class="lead about-descr p-heading">entrepreneur, investor, business coach</p>
            </div>
        </div>
    </div>
</div>


  <!-- start section about us -->
  <div class="about-section paddsection">

    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-5">About Andre Barrett</h2>
        </div>
      </div>
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="/img/about/andrebarrett.jpg" class="img-responsive" alt="Andre Barrett Picture">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <img src="/img/about/hi.svg" />
            <p class="p-heading">I'm Andre, a digital product expert who loves bringing software projects to life. I work with other entrepreneurs who share the same passion for starting and scaling tech businesses.</p>

            <p>During the past several years, I’ve worked on tons of software projects in sectors such as media, gaming and ecommerce. While I was involved in these projects I personally mentored and trained hundreds of developers level up their software engineering skills to build better mobile apps and websites.</p>
            
            <p>With over a 12 years of professional software development experience, working with companies like Sky and Sainsburys — I’m now working on building some of my other companies while continuing to mentor and train entrepreneurs on how to get their tech products to market.</p>

            <p>My goal is always to help the tech startup communities as much as I can, to share my experiences working on all sorts of apps and software products, and to help others get their businesses off the ground.</p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->

  <div class="about-parallax">
    <div class="overlay-purple">

    <div class="container">
      <div class="row text-white">
        <div class="col-md-12 my-auto">
            <h2>An Entrepreneur's Journey...</h2>
            <p class="lead" ><b>“Success isn't a result of spontaneous combustion. You must set yourself on fire.”</b></p>
        </div>
      </div>
    </div>
</div>

</div>

<section class="page-section">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center pb-5">
        <h2>iMobilize Ltd</h2>
      </div>
      <div class="col-6">
        <div class="elementor-widget-container">
          <div class="elementor-image">
                    <img class="img-fluid" src="/img/about/imobilize-ltd-macbook.jpg" class="elementor-animation-grow attachment-full size-full" alt="iMobilize Ltd">	
                  										</div>
        </div>
      </div>

      <div class="col-6">
        <p>Having run a digital agency for a decade, I've worked with several big companies and lots of startups to help deliver thier tech projects. I know from personal experience how hard it can be to launch a tech product which is why I offer software startup coaching to help others avoid the same mistakes that I did.</p>
        <p>Drawing from the experience of other failed startups and the success of big companies I've worked with, my students can leverage years of knowledge and understanding of what it takes to make a tech startup a success.</p>
            
        <p>My company, iMobilize Ltd is based in London, England but offers software development services to companies around the world.</p>

      </div>


    </div>
  </div>
</section>

  <section class="page-section highlight bg-light">
    <div class="container">

      <div class="row">
        <div class="col-12 text-center">
          <h2 class="contact-title">Contact Me</h2>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            You can get in touch with Andre Barrett using the form 
          </div>
        </div>

        <div class="col-lg-8">
          <iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/51T0/la5" width="100%"></iframe>

          <script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>
        </div>



      </div>
    </div>
  </section>
{{ end }}